# =========================

# OS / Sistema

# =========================

.DS_Store
Thumbs.db
*~
*.swp

# =========================

# Logs

# =========================

*.log
logs/
*.out
*.err

# =========================

# Java / Build

# =========================

build/
target/
.gradle/
out/

# Archivos compilados

*.class
*.jar
*.war
*.ear

# =========================

# IntelliJ IDEA (TODO lo generado)

# =========================

.idea/
*.iml
*.ipr
*.iws

# =========================

# VSCode

# =========================

.vscode/

# =========================

# Node (si usas tooling)

# =========================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================

# Docker

# =========================

.docker/
docker-compose.override.yml

# =========================

# Env / Secrets

# =========================

.env
.env.*
*.env
secrets/
*.key
*.pem

# =========================

# Test / Reports

# =========================

reports/
coverage/
*.exec
karate-reports/

# =========================

# OpenAPI / Generados

# =========================

generated/
swagger-ui/

# =========================

# Otros

# =========================

*.tmp
*.bak
.codex
/out
/build
/.idea
vtcode.toml

